*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #F5F5F5;
  line-height: 113%;
  font-size: 1.6rem;
  background-color: #F5F5F5;
}

.container {
  display: grid;
  grid-template-rows: 80vh -webkit-min-content 40vw repeat(3, -webkit-min-content);
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.title-1 {
  font-size: 4.5rem;
  font-weight: 700;
  color: white;
}

.title-2 {
  font-size: 4rem;
  font-weight: 700;
  color: #F5F5F5;
  line-height: 100%;
}

.title-3 {
  font-size: 1.9rem;
  font-weight: 700;
  color: #425844;
}
.title-3_white {
  color: white;
}
.title-3_green-light {
  color: #61A568;
}

.title-4 {
  font-size: 1.4rem;
  font-weight: 300;
  color: #61A568;
}

.header {
  background-color: #101D2C;
  grid-column: full-start/col-end 6;
}

.logo {
  display: block;
  margin-bottom: 8rem;
}
.logo__img {
  display: block;
  margin: 0 auto;
}

.features {
  padding: 15rem 0;
  background-color: #F5F5F5;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: 3rem 4rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  grid-gap: 1.5rem 2.5rem;
}
.feature__icon {
  width: 4rem;
  height: 4.5rem;
  grid-row: 1/span 2;
  -webkit-transform: translateY(-1rem);
      -ms-transform: translateY(-1rem);
          transform: translateY(-1rem);
}
.feature__text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 133%;
  color: #425844;
}

.gamers {
  background-color: #101D2C;
  grid-column: col-start 7/full-end;
}

.banner-img {
  background-color: #101D2C;
  grid-column: full-start/col-end 4;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(24, 1fr);
  background: url(../img/banner-background.png) center/cover no-repeat;
}
.banner-img__img-1 {
  width: 100%;
  grid-column: 3/15;
  grid-row: 3/12;
}
.banner-img__img-2 {
  width: 100%;
  grid-column: 5/-1;
  grid-row: 10/23;
  -webkit-transform: translateX(3.5rem);
      -ms-transform: translateX(3.5rem);
          transform: translateX(3.5rem);
}
.banner-text {
  background-color: #101D2C;
  grid-column: col-start 5/full-end;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: start;
  padding: 0 5vw;
}
.banner-text__text {
  margin-bottom: 4rem;
}

.sidebar {
  background-color: #425844;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
}

.gallery {
  background-color: #101D2C;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem;
}
.gallery__item-1 {
  grid-column: 1/3;
  grid-row: 1/3;
}
.gallery__item-2 {
  grid-column: 3/span 3;
  grid-row: 1/span 3;
}
.gallery__item-3 {
  grid-column: 6/span 1;
  grid-row: 1/span 2;
}
.gallery__item-4 {
  grid-column: 7/-1;
  grid-row: 1/span 2;
}
.gallery__item-5 {
  grid-column: 1/span 2;
  grid-row: 3/span 3;
}
.gallery__item-6 {
  grid-column: 3/span 2;
  grid-row: 4/span 2;
}
.gallery__item-7 {
  grid-column: 5/6;
  grid-row: 4/5;
}
.gallery__item-8 {
  grid-column: 6/span 2;
  grid-row: 3/span 2;
}
.gallery__item-9 {
  grid-column: 8/-1;
  grid-row: 3/span 3;
}
.gallery__item-10 {
  grid-column: 1/2;
  grid-row: 6/span 2;
}
.gallery__item-11 {
  grid-column: 2/span 2;
  grid-row: 6/span 2;
}
.gallery__item-12 {
  grid-column: 4/5;
  grid-row: 6/span 2;
}
.gallery__item-13 {
  grid-column: 5/span 3;
  grid-row: 5/span 3;
}
.gallery__item-14 {
  grid-column: 8/-1;
  grid-row: 6/span 2;
}
.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards {
  background-color: #F5F5F5;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem 6rem;
  padding: 15rem 0;
}

.card {
  background-color: #101D2C;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 4.5rem;
}
.card__img {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/2;
}
.card__title {
  grid-column: 1/-1;
  grid-row: 1/2;
  padding: 1.5rem 11.5rem;
  background-color: #425844;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  color: #F5F5F5;
  width: 80%;
  justify-self: center;
  align-self: end;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  z-index: 2;
}
.card__svg {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
.card__btn {
  grid-column: 1/-1;
}

.content {
  margin-left: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content p {
  font-size: 1.6rem;
  color: #F5F5F5;
  font-weight: 300;
}

.footer {
  background-color: #101D2C;
  grid-column: full-start/full-end;
  padding: 8rem 3rem;
  border-top: 0.3rem solid #F5F5F5;
}

.nav__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-items: center;
  grid-gap: 3.5rem;
}
.nav__link:link, .nav__link:visited {
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #F5F5F5;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  display: inline-block;
}
.nav__link:hover, .nav__link:active {
  color: #425844;
  -webkit-transform: translateY(-0.3rem);
      -ms-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.btn {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #F5F5F5;
  background-color: #61A568;
  border: 0;
  padding: 1.5rem 3rem;
}
.btn:hover {
  background: #425844;
}

.mb-small {
  margin-bottom: 3rem;
}